<div id="<%= dom_id post %>">
  <p>
    <strong>Tittle:</strong>
    <%= post.tittle %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= post.desc %>
  </p>

  <p>
    <strong>User:</strong>
    <%= current_user.email %>
  </p>

  <% if post.image.attached? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag(post.image) %>
    </p>
  <% end %>

</div>
